@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  /*! ne fontionne pas */
}

:root {
  --bg-primary: #212528;
  --bg-secondary: #313941;
  --border-gray: #6C798F;
  --text-primary: #CED7E6;
  --text-secondary: #4A8F81;
  --text-contrast: #fff;
  --font-text: "inter", sans-serif;
  --color: var(--text-secondary);
  --radius: 2.5rem;

}

body {
  font: 400 1.6rem var(--font-text);
  line-height: 2.2rem;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

.bigTitle {
  font: 700 6rem var(--font-text);
  line-height: 7rem;
}

.title {
  font: 600 3.4rem var(--font-text);
  line-height: 4.8rem;
}

.heading1 {
  font: 500 3rem var(--font-text);
  line-height: 4rem;
}

.heading2 {
  font: 500 2.4rem var(--font-text);
  line-height: 3.2rem;
}

.heading3 {
  font: 500 2rem var(--font-text);
  line-height: 2.6rem;
}

.heading4 {
  font: inherit;
  line-height: inherit;
}

.text {
  font: 400 1.2rem var(--font-text);
  line-height: 1.6rem;
}

.icon>svg {
  color: var(--text-secondary);
}

.button {
  display: inline-flex;
  justify-content: center;
  gap: 1rem;
  padding: 1.2rem 2rem;
  line-height: 1.2rem;
  border: none;
  border-radius: 5rem;
  background-color: var(--bg-secondary);
  color: var(--text-contrast);
}

section {
  max-width: 1200px;
  margin: auto;
}

.heroSection {
  color: var(--text-contrast);
  width: 100vw;
  height: 100vh;
}

.heroSection-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8.6rem;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
}

.heroSection-content>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2.4rem;
  max-width: 50rem;
}

.heroSection-content>div>p {
  color: var(--text-primary);
}

.heroSection h1>span {
  color: var(--text-secondary);
}

/* navBar */

.navBar {
  display: flex;
  position: fixed;
  align-items: center;
  gap: 4rem;
  width: fit-content;
  top: 3rem;
  right: 5rem;
  padding: 1rem 1.5rem;
}

.navBar a {
  text-decoration: none;
  color: var(--text-contrast);
  transition: color ease-in-out .25s;
}

.navBar a:hover {
  color: var(--text-secondary);
}

/* navSocial */

.navSocialLink {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.navSocialLink a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1.2rem;
  gap: 1rem;
  text-decoration: none;
  color: var(--text-contrast);
  transition: color ease-in-out .25s;
}

.navSocialLink a:hover {
  color: var(--text-secondary);
}

.navSocialLink .icon {
  width: fit-content;
  height: fit-content;
}

.navSocialLink .icon svg {
  width: 3rem;
  height: 3rem;
}

/* projectSection */

.projectSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 3.5rem;
  flex-wrap: wrap;
  height: 100vh;
}

.projectSection>div:not(.blockInfos) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43rem;
  height: 26rem;
  border-radius: 2.5rem;
}

.projectSection .blockTitle {
  padding: 5rem 6rem 5rem 12rem;
  color: var(--text-contrast);
  background-color: var(--text-secondary);
}

.projectSection .blockLinks {
  flex-direction: column;
  gap: 3rem;
  color: var(--text-primary);
  background-color: var(--bg-secondary);
  border: solid 3px var(--border-gray);
}

.listSocialLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  border-radius: var(--radius);
  background-color: var(--bg-primary);
}

.blockLinks>.listSocialLinks {
  gap: 3rem;
  padding: .5rem 1rem;
}

.listSocialLinks>.icon {
  width: 3rem;
  height: 3rem;
  line-height: 0;
  padding: 0;
}

.blockLinks>.listSocialLinks>.icon>svg {
  width: 3rem;
  height: 100%;
}

.groupLinks {
  display: inline-flex;
  align-items: center;
  gap: 1.2rem;
}

.groupLinks>.listSocialLinks {
  gap: 1rem;
  padding: .4rem;
}


.groupLinks>.listSocialLinks>.icon {
  width: 1.8rem;
  height: 1.8rem;
}

.groupLinks>.listSocialLinks>.icon>svg {
  width: 1.8rem;
  height: 100%;
}

.groupLinks>a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  color: var(--text-contrast);
  text-decoration: none;
}

.groupLinks>a>.icon>svg {
  color: white;
}

/* blockInfos */

.blockInfos {
  display: flex;
  position: relative;
  gap: 2rem;
  color: var(--text-primary);
  background-color: var(--bg-secondary);
  border-radius: var(--radius);
}

.blockInfos:not(.blockInfos-project) {
  flex-direction: column;
  width: 37.5rem;
  border: solid .3rem var(--border-gray);
}

.blockInfos:not(img) {
  padding: 2.5rem 1.2rem;
  padding-right: 3rem;
  height: 26rem;
}

.blockInfos:has(img) {
  height: 50.8rem;
  padding: 1rem;
}

.blockInfos.blockInfos-project {
  flex-direction: row;
  width: 68rem;
  height: 26rem;
  padding: 1.2rem 1.4rem;
}

.blockInfos.blockInfos-project:nth-of-type(3) {
  flex-direction: row-reverse;
  padding-left: 2.5rem;
}

.blockInfos > img {
  --color: attr(data-color);
  width: 32rem;
  height: 100%;
  border-radius: 1.9rem;
  object-fit: cover;
  box-shadow: .35rem .35rem 0 0 var(--color);
}

.blockInfos:not(.blockInfos-project)>img {
  width: 100%;
  height: 21rem;
}

.blockInfos-project > img {
  width: 32rem;
  height: 100%;
}

.blockInfos > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-left: 1rem;
}

.blockInfos.blockInfos-project>div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blockInfos.blockInfos-project>div>.temp-top {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.blockInfos.blockInfos-project>div>.temp-bottom {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.blockInfos h5 {
  color: var(--text-secondary);
}

.blockInfos>div>.heading4 {
  font-weight: 500;
}

.blockInfos>.button {
  align-self: flex-end;
  width: fit-content;
  color: var(--bg-primary);
  font: 500 1.4rem var(--font-text);
  padding: .7rem 1rem;
  margin-right: 2rem;
  background-color: var(--text-secondary);
}

.tagsList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem .8rem;
}

.tagsList > p {
  width: fit-content;
  height: fit-content;
  padding: .2rem .8rem;
  border-radius: var(--radius);
  background-color: var(--bg-primary);
}

/* experience section*/

.experienceSection,
.formationSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: initial;
  height: 100vh;
}

.experienceSection .sliderExperience {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  overflow: hidden;
}

:where(.experienceSection, .formationSection) > h3.bigTitle {
  text-align: center;
  margin-bottom: 5rem;
}

/* formationSection */

.formationSection {
  justify-content: center;
}

.contentFormation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 6rem;
  gap: 2.4rem;
}

.contentFormation > .blockInfos:first-of-type {
  transform: translateY(-6rem);
}

.contentFormation > .blockInfos:nth-of-type(2)::before,
.contentFormation > .blockInfos:nth-of-type(2)::after {
  content: "";
  display: block;
  position: absolute;
  top: 20%;
  right: calc(100% - (9.3rem / 3));
  width: 9.3rem;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  background-color: var(--text-secondary);
  z-index: -1;
}

.contentFormation > .blockInfos:nth-of-type(2)::after {
  inset: 45% auto auto calc(100% - (9.3rem / 3));
}

.contentFormation > .blockInfos:last-of-type {
  transform: translateY(6rem);
}


.contentFormation > .blockInfos > .icon {
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
}

.blockInfos > .icon > svg{
  width: 2.6rem;
  height: 2rem;
  color: var(--bg-primary);
  background-color: var(--text-primary);
}