<nav class="navBar">
  <a href="#" class="heading4">Projets</a>
  <a href="#" class="heading4">Expériences pro</a>
  <a href="#" class="heading4">Formations</a>
  <a href="#" class="heading4">Compétences</a>
  <a href="#" class="heading4">Contact</a>
</nav>